.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  min-width: 60px;
}
